.cycleText {
    display: inline-block;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.fadeIn {
    opacity: 1;
    transform: translateY(0);
}

.fadeOut {
    opacity: 0;
    transform: translateY(-10px);
}